// Font sizes
$base-font-size: 1.4rem;

// Colors
$brand-primary: #0b0c10;
$brand-text: #66fcf1;
$brand-secondary: #1f2833;
$brand-text-secondary: #45a29e;
$brand-text-tertiary: #c5c6c7;
$red-text: #fc669b;
$easy: #fc6666;
$medium: #66fcb9;
$hard: #66b4fc;

// Spacing
$space: 1.7rem;
$site-max-width: 50rem;
